.website-multi-image-main img {
	display: block;
	width: 100%;
	height: auto;
}
.website-multi-image-container {
	padding-left: 0px;
	padding-right: 0px;
}
.website-multi-image-thumbnails {
	padding: 15px 10px;
}
.website-multi-image-thumbnails .img {
	cursor: pointer;
}
.website-multi-image-thumbnails .slick-slide {
    margin: 0 10px;
}
.website-multi-image-thumbnails .slick-list {
    margin: 0 -10px;
}